////
/// @group CSS Icons
/// @author Michael Hargreaves
////

/// Basic Chevron Mixin. icon is create by putting borders on two sides of a square HTML element.
/// This has limited animation capabilities. Needs re-factoring.
@mixin i-chevron ($rotate:45deg, $size:0.5rem, $borderWidth:0.25rem, $color: getColor(base,black)) {

	&:before {
		border-style: solid;
		border-width: $borderWidth $borderWidth 0 0;
		border-color: $color;
		content: '';
		display: inline-block;
		height: $size;
		position: relative;
		top: 0.15em;
		transform: rotate($rotate);
		vertical-align: top;
		width: $size;
	}
}

/// Burger Menu Icon Mixin
/// Can be animated
/// Could be improved with :before and :after 
@mixin i-menu ($color: getColor(base,black), $width:2rem,$height:1.1rem){
	width: $width;
	height: $height;
	position: relative;
	display: inline-block;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: $color;
		border-radius: 6px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
			transform-origin: left center;
		}

		&:nth-child(2) {
			@include pos-v-center();
			transform-origin: left center;
		}

		&:nth-child(3) {
			bottom: 0;
			transform-origin: left center;
		}
	}

	&[data-open="true"] {
		span:nth-child(1) {
			transform: rotate(45deg);
			top: -3px;
			left: 4px;
		}

		span:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		span:nth-child(3) {
			transform: rotate(-45deg);
			top: $height;
			left: 4px;
		}
	}
}