// TODO: generic styles for Stacked & Grid layout forms

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
label { 
	margin: $spacing-delta 0;
	padding: 0;
	display: inline-block;
	width: 100%;

	p {
		margin: $spacing-zeta 0;
	}
}

input, textarea, select {		
	@include font-size(delta);
	font-family: $sans-stack;
	width:100%;
	background: getColor(base,white); 
	border: 1px solid getColor(base,grey, light, map-get($base, shade)*3); //, light-x3
	border-radius:1px;
	color: map-get($base, font-color);
	padding: $spacing-epsilon;
	display: block;

	&:focus{
		border-color: getColor(info);
		background-color: getColor(info,null,light, map-get($base, shade)*2);
	}
}
input, textarea {
	&:focus{
		
	}
}

input[type='radio'],
input[type='checkbox'] {
    //-moz-appearance:textfield;
    width:auto;
    display:inline-block;
}
input[type='number'] {
    //-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
	width: 100%;
}

select {

}


