//https://codepen.io/designcouch/pen/Atyop
/* Icon 4 */

.i-link {
		padding-left: $spacing-delta + $spacing-zeta;
		position:relative;
	svg,
	[type="image/svg+xml"]  {
		@include pos-v-center();
		display: inline;
		margin-right: $spacing-zeta;
		width: 1rem;
		height:1rem;
		fill: map-get( $base, link-color);
		left: 0;
		position: absolute;
	}

	// TODO: make this and the respective <a> styles in typography more DRY
	&:hover {
		color: getColor(base, alpha, light, map-get($base, shade)); //light
	}
	
	&:active {
		color: getColor(base, alpha, dark, map-get($base, shade)); //dark
	} 
}
.i-menu {
	@include i-menu();
}


.i-chevron--up {
	@include i-chevron(-45deg, 1rem);
}

.i-chevron--down {
	@include i-chevron(135deg, 1rem);

}

.i-chevron--right {
	@include i-chevron(45deg, 1rem);
}

.i-chevron--left {
	@include i-chevron(225deg, 1rem);

}

.i-info {
    font-family: $serif-stack;
    font-style: italic;
}

.i-exclaim {
    font-family: $serif-stack;
}

.i-circle {
    &--border{
        border: map-get($base, border-style);
        //border-width: 2px;
        border-radius: 100000px;
        display: inline-block;
        padding: $spacing-zeta;
        width:$spacing-delta+$spacing-zeta;
        height:$spacing-delta+$spacing-zeta;
        position: relative;
        svg,
        span {
            @include pos-center;
            position:absolute;
            line-height:0;
        }
    }
}
